.content{
  max-width: 1300px;
  display: inline-block;
  margin: 160px 294px 0px 294px;
  border: solid;
  border-width: 1px;
  border-color: #dcdcdc;
}
 article{
  max-width: 620px;
  position:absolute;
  margin: 0px 322px 0px 249px;
  border-left:solid;
  border-width: 1px;
  border-color: #dcdcdc;
  padding: 0px 400px 0px 10px;
  color: #121212;
}
a{
  cursor:pointer;
  color: #ab0613;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-color: #dcdcdc;
  border-bottom-width: 1px;
}
a:hover{
  border-bottom-color: #c70000;
}
a:visited{
  border-bottom-color:darkgray;
}

#main_title {
  color: #121212;
  font-size: 21px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-top: 3px 0px 0px 0px;
}
::selection{
  background-color: #ffe500;
}
.trianglecaption{
  fill: #c70000;
}
.section1 img{
  width: 100%;
  height: 100%;
  position: relative;
  top:0;
  left: 0;
}
.section1 .caption{
  color:#767676;
  font-size: 13px;
  margin: 0px 15px 12px 0px;
}
.section1 h2{
  color: #121212;
  font-size: 18px;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0px 50px 0px 0px;
}
.wrap{
  width: 620px;
  height: 349px;
}
.section1 p{
  font-size:20px;
  margin:14px 0px;
} 
.section1 figure{
  margin:20px 0px;
}
.section1 input{
  height: 18px;
  color:#121212;
  font: 400 14px arial;
  margin-bottom: 15px;
  padding: 10.6px 235px 10.6px 20.6px;
  border:thin solid;
  border-radius: 1000px;
}
.section1 button{
  height: 42px;
  color:white;
  background-color: #005689;
  font-size:14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0px 0px 0px 20px;
  padding: 0px 52px;
  border:thin solid;
  border-radius: 1000px;
  cursor: pointer;
}