.content{
  max-width: 1300px;
  display: inline-block;
  margin: 160px 294px 0px 294px;
  border: solid;
  border-width: 1px;
  border-color: #dcdcdc;
}
 article{
  max-width: 620px;
  position:absolute;
  margin: 0px 322px 0px 249px;
  border-left:solid;
  border-width: 1px;
  border-color: #dcdcdc;
  padding: 0px 400px 0px 10px;
  color: #121212;
}
a{
  cursor:pointer;
  color: #ab0613;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-color: #dcdcdc;
  border-bottom-width: 1px;
}
a:hover{
  border-bottom-color: #c70000;
}
a:visited{
  border-bottom-color:darkgray;
}

#main_title {
  color: #121212;
  font-size: 21px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-top: 3px 0px 0px 0px;
}
::selection{
  background-color: #ffe500;
}
.trianglecaption{
  fill: #c70000;
}
.section1 img{
  width: 100%;
  height: 100%;
  position: relative;
  top:0;
  left: 0;
}
.caption{
  color:#767676;
  font-size: 13px;
  margin: 0px 15px 12px 0px;
}
.section1 h2{
  color: #121212;
  font-size: 18px;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0px 50px 0px 0px;
}
.primari .wrap{
  width: 620px;
  height: 349px;
}
.section1 p{
  font-size:20px;
  margin:14px 0px;
} 
.section1 figure{
  margin:20px 0px;
}
.section1 input{
  height: 18px;
  color:#121212;
  font: 400 14px arial;
  margin-bottom: 15px;
  padding: 10.6px 235px 10.6px 20.6px;
  border:thin solid;
  border-radius: 1000px;
}
.section1 button{
  height: 42px;
  color:white;
  background-color: #005689;
  font-size:14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0px 0px 0px 20px;
  padding: 0px 52px;
  border:thin solid;
  border-radius: 1000px;
  cursor: pointer;
}
.section2{
  background-color: #f6f6f6;
  margin-top:24px;
  border-top-style: solid;
  border-width: 1px;
  border-color: #ffe500;
  padding:4px 5px 12px;
}
.section2 h2{
  color: #121212;
  font-size: 20px;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0px;
  padding: 0px 50px 0px 0px;
}
.section2 p{
  margin:0px 0px 8px;
  font-size:20px;

}
.section2 strong{
  background-color: #ffe500 ;
}
.secondary button{
  height: 42px;
  color: #121212;
  background-color: #ffe500;
  font-size:17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 4px 10px 4px 0px;
  padding: 0px 21px;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
}
.secondary img{
  width: 175.83px;
  height: 25px;
}
hr{
  border-width: 1px;
  border-color: #dcdcdc;
  margin: 2px 0px;
}
h3{
  font-size: 20px;
  color: #c70000;
  padding: 0px 5.95px 0px 5.1px;

}
.secondary a{
  color:#c70000;
  border-bottom:none;
  text-decoration: none;
}
.secondary a:hover{
  text-decoration: underline;
  text-decoration-color:#c70000 ;
}
.secondary a:visited{
  text-decoration: underline;
  text-decoration-color: #c70000;
}
.secondary li{
  display: inline-block;
  color: #dcdcdc;
  padding: 0px 2px 0px 2px;
}
#creditcards{
  position: absolute;
  left: 240px;
  bottom:177px;
}